<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.CustomerMapper">
    <insert id="addCustomer" parameterType="com.it.Customer">
        insert into t_customer(username,jobs,phone) values(#{username},#{jobs},#{phone})
    </insert>
    <update id="updateCustomer">
        update  t_customer set username=#{username},jobs=#{jobs},phone=#{phone} where id=#{id}
    </update>
    <delete id="deleteCustomer" parameterType="integer">
        delete from t_customer where id = #{id}
    </delete>


    <select id="findCustomerById" parameterType="int" resultType="com.it.Customer">
        select  * from t_customer where id=#{id}
    </select>
    <select id="findCustomerByName" parameterType="string" resultType="com.it.Customer">
        select  * from t_customer where username like concat ("%",#{value},'%')
    </select>


</mapper>
